# Node
frontend/node_modules/
frontend/dist/

# Python
backend/app/__pycache__/
backend/**/*.pyc
backend/app/.venv/
backend/app/data/
backend/app/scripts/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db